{% extends "bootstrap/base.html" %}

{% block title %}Просмотр таблиц{% endblock %}

{% block head %}
    {{ super() }}
        <link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.ico') }}" type="image/x-icon">
        <link rel="icon" href="{{ url_for('static', filename = 'favicon.ico') }}" type="image/x-icon">
{% endblock %}

{% block navbar %}
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle"
                        data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Просмотр</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/show_applic">Заявки</a></li>
                    <li><a href="/show_blank">Бланки</a></li>
                    <li><a href="/show_client">Клиенты</a></li>
                    <li><a href="/show_client_doc">Док-ты клиента</a></li>
                    <li><a href="/show_country">Страны</a></li>
                    <li><a href="/show_employee">Сотрудники</a></li>
                    <li><a href="/show_lan_cod">Код-р языков</a></li>
                    <li><a href="/show_lan_know">Знание языка</a></li>
                    <li><a href="/show_legal">Юр. лица</a></li>
                    <li><a href="/show_natural">Физ. лица</a></li>
                    <li><a href="/show_log">Журнал регистрации</a></li>
                    <li><a href="/show_partic">Участники</a></li>
                    <li><a href="/show_prof_cod">Код-р степени знания яз.</a></li>
                    <li><a href="/show_trustee">Доверенные лица</a></li>
                    <li><a href="/show_service">Услуги</a></li>
                </ul>
                <a class="navbar-brand" href="/">Редактура</a>
                <ul class="nav navbar-nav">
                    <li><a href="/add_form_applic">Заявки</a></li>
                    <li><a href="/add_form_forms">Бланки</a></li>
                    <li><a href="/add_form_client">Клиенты</a></li>
                    <li><a href="/add_form_cl_doc">Док-ты клиента</a></li>
                    <li><a href="/add_form_country">Страны</a></li>
                    <li><a href="/add_form_employee">Сотрудники</a></li>
                    <li><a href="/add_form_lang_cod">Код-р языков</a></li>
                    <li><a href="/add_form_lan_know">Знание языка</a></li>
                    <li><a href="/add_form_legal">Юр. лица</a></li>
                    <li><a href="/add_form_nat">Физ. лица</a></li>
                    <li><a href="/add_form_logs">Журнал регистрации</a></li>
                    <li><a href="/add_form_partic">Участники</a></li>
                    <li><a href="/add_form_trustee">Доверенные лица</a></li>
                    <li><a href="/add_form_log_to_app">Заявка-Журнал</a></li>
                    <li><a href="/add_form_proxy">Доверенности</a></li>
                    <li><a href="/add_form_regist">Регистрация</a></li>
                    <li><a href="/add_form_service">Услуги</a></li>
                </ul>
                <ul class="nav navbar-nav">
                    <li><a href="/logout">Выход</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        {% block page_content %}{% endblock %}
    </div>
{% endblock %}
