{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
    <div class="container">
    <table  class="table">
    <thead>
    <tr>
      <th scope="col">Номер документа доверенного лица</th>
      <th scope="col">Дата регистрации доверенности</th>
      <th scope="col">Место регистрации доверенности</th>
    </tr>
  </thead>
        {% for line in info %}
            <tr>
                <th scope="row">{{ line.num_of_doc }}</th>
                <td>{{ line.date_of_regist_of_trust }}</td>
                <td>{{ line.place_of_regist }}</td>
            </tr>
        {% endfor %}
    </table>
    </div>
{% endblock %}