{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
    <div class="container">
    <table  class="table">
    <thead>
    <tr>
      <th scope="col">Код бланка</th>
      <th scope="col">Номер бланка</th>
      <th scope="col">Тип бланка</th>
      <th scope="col">Номер нот. действия</th>
    </tr>
  </thead>
        {% for line in info %}
            <tr>
                <th scope="row">{{ line.code_of_form }}</th>
                <td>{{ line.num_of_form }}</td>
                <td>{{ line.type_of_form }}</td>
                <td>{{ line.num_of_not_act }}</td>
            </tr>
        {% endfor %}
    </table>
    </div>
{% endblock %}
