{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
    <div class="container">
    <table  class="table">
    <thead>
    <tr>
      <th scope="col">Код степени знания языка</th>
      <th scope="col">Название степени знания языка</th>
    </tr>
  </thead>
        {% for line in info %}
            <tr>
                <th scope="row">{{ line.code_of_profic }}</th>
                <td>{{ line.name_of_profic }}</td>
            </tr>
        {% endfor %}
    </table>
    </div>
{% endblock %}
